<style>
  .scroll-hidden::-webkit-scrollbar {
    height: 0px;
    background: transparent;
  }
</style>
<nav
  [ngClass]="{ 'fixed bg-white shadow dark:bg-gray-800': true }"
  class="w-full top-0 left-0 right-0 z-50"
>
  <div
    class="text-center pt-2 pb-2 bg-blue-600 text-white text-sm font-semibold"
  >
    Get free delivery on orders upto &#8377;499
  </div>
  <div
    class="container py-3 mx-auto md:flex md:items-center md:justify-between"
  >
    <div class="flex flex-col md:flex-row md:justify-between md:items-center">
      <div class="flex items-center justify-between">
        <div class="flex items-center">
          <a routerLink="/">
            <!-- <img class="w-auto h-6 sm:h-7" src="logo.png" alt="Logo" /> -->
            <img
              src="logo.png"
              alt="AttyCart Logo"
              class="w-auto md:w-44 h-6 sm:h-10"
            />
          </a>

          <!-- Search input on desktop screen -->
          <div class="hidden mx-10 md:block">
            <div class="relative">
              <span class="absolute inset-y-0 left-0 flex items-center pl-3">
                <svg
                  class="w-5 h-5 text-gray-400"
                  viewBox="0 0 24 24"
                  fill="none"
                >
                  <path
                    d="M21 21L15 15M17 10C17 13.866 13.866 17 10 17C6.13401 17 3 13.866 3 10C3 6.13401 6.13401 3 10 3C13.866 3 17 6.13401 17 10Z"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  ></path>
                </svg>
              </span>

              <input
                type="text"
                class="w-full py-2 pl-10 pr-4 text-gray-700 bg-white border rounded-md dark:bg-gray-800 dark:text-gray-300 dark:border-gray-600 focus:border-blue-400 dark:focus:border-blue-300 focus:outline-none focus:ring focus:ring-opacity-40 focus:ring-blue-300"
                placeholder="Search"
              />
            </div>
          </div>
        </div>

        <!-- Mobile menu button -->
        <div class="flex lg:hidden">
          <button
            (click)="isOpen = !isOpen"
            type="button"
            class="text-gray-500 dark:text-gray-200 hover:text-gray-600 dark:hover:text-gray-400 focus:outline-none focus:text-gray-600 dark:focus:text-gray-400"
            aria-label="toggle menu"
          >
            <svg
              *ngIf="!isOpen"
              xmlns="http://www.w3.org/2000/svg"
              class="w-6 h-6"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
              stroke-width="2"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M4 8h16M4 16h16"
              />
            </svg>
            <svg
              *ngIf="isOpen"
              xmlns="http://www.w3.org/2000/svg"
              class="w-6 h-6"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
              stroke-width="2"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M6 18L18 6M6 6l12 12"
              />
            </svg>
          </button>
        </div>
      </div>

      <!-- Mobile Menu open: "block", Menu closed: "hidden" -->
      <div
        [ngClass]="{
          'translate-x-0 opacity-100': isOpen,
          'opacity-0 -translate-x-full': !isOpen
        }"
        class="absolute inset-x-0 z-20 w-full px-6 py-2 transition-all duration-300 ease-in-out bg-white top-24 dark:bg-gray-800 md:mt-0 md:p-0 md:top-0 md:relative md:bg-transparent md:w-auto md:opacity-100 md:translate-x-0 md:flex md:items-center"
      >
        <div class="flex flex-col md:flex-row md:mx-1 pl-40">
          <a
            class="cursor-pointer p-4 text-lg text-blue-950 font-bold leading-5 hover:transition-colors hover:duration-300 active:bg-gray-200 md:my-0"
            routerLink="/"
            >Home</a
          >
          <a
            routerLink="/about"
            class="cursor-pointer p-4 text-lg text-blue-950 font-bold leading-5 hover:transition-colors hover:duration-300 active:bg-gray-200 md:my-0"
            >About</a
          >
          <a
            class="cursor-pointer p-4 text-lg text-blue-950 font-bold leading-5 hover:transition-colors hover:duration-300 active:bg-gray-200 md:my-0"
            routerLink="/all-products"
            >Products</a
          >

          <a
            routerLink="/cart"
            class="relative text-gray-700 transition-colors duration-300 transform dark:text-gray-200 dark:hover:text-gray-300 mt-2 active:bg-gray-200"
            href="#"
          >
            <svg
              class="w-9 h-7"
              viewBox="0 0 24 24"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M3 3H5L5.4 5M7 13H17L21 5H5.4M7 13L5.4 5M7 13L4.70711 15.2929C4.07714 15.9229 4.52331 17 5.41421 17H17M17 17C15.8954 17 15 17.8954 15 19C15 20.1046 15.8954 21 17 21C18.1046 21 19 20.1046 19 19C19 17.8954 18.1046 17 17 17ZM9 19C9 20.1046 8.10457 21 7 21C5.89543 21 5 20.1046 5 19C5 17.8954 5.89543 17 7 17C8.10457 17 9 17.8954 9 19Z"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>

            <span
              class="absolute top-0 left-0 p-1 text-xs text-white bg-blue-500 rounded-full"
            ></span>
          </a>
          <a
            *ngIf="!userDetails.token"
            class="cursor-pointer p-4 text-lg text-blue-950 font-bold leading-5 hover:transition-colors hover:duration-300 active:bg-gray-200 md:my-0"
            routerLink="/login"
            >Login</a
          >
          <div class="relative">
            <button
              *ngIf="userDetails.token"
              (click)="toggleDropdown()"
              class="cursor-pointer pl-5 p-2 mx-2 text-lg text-blue-950 font-bold leading-5 hover:transition-colors hover:duration-300 active:bg-gray-200 md:my-0 flex items-center"
            >
              <img
                src="#"
                alt="Profile"
                class="rounded-full max-w-10 max-h-10"
              />
            </button>

            <!-- Dropdown Menu -->
            <div
              *ngIf="dropdownVisible"
              class="absolute right-0 mt-2 w-40 bg-white shadow-lg rounded-lg transition-opacity duration-300"
            >
              <a
                routerLink="/profile"
                class="block px-4 py-2 text-gray-700 hover:bg-gray-200"
              >
                Profile
              </a>
              <a
                *ngIf="userDetails.role == 'admin'"
                routerLink="/admin"
                class="block px-4 py-2 text-gray-700 hover:bg-gray-200"
              >
                Admin Dashboard
              </a>
              <a
                routerLink="/my-orders"
                class="block px-4 py-2 text-gray-700 hover:bg-gray-200"
              >
                My Orders
              </a>
              <a
                routerLink="/wallet"
                class="block px-4 py-2 text-gray-700 hover:bg-gray-200"
              >
                My Wallet
              </a>
              <a
                routerLink="/transactions"
                class="block px-4 py-2 text-gray-700 hover:bg-gray-200"
              >
                Transactions
              </a>
              <a
                (click)="logout()"
                href="#"
                class="block px-4 py-2 text-gray-700 hover:bg-gray-200"
              >
                Logout
              </a>
            </div>
          </div>
        </div>

        <!-- Search input on mobile screen -->
        <div class="my-4 md:hidden">
          <div class="relative">
            <span class="absolute inset-y-0 left-0 flex items-center pl-3">
              <svg
                class="w-5 h-5 text-gray-400"
                viewBox="0 0 24 24"
                fill="none"
              >
                <path
                  d="M21 21L15 15M17 10C17 13.866 13.866 17 10 17C6.13401 17 3 13.866 3 10C3 6.13401 6.13401 3 10 3C13.866 3 17 6.13401 17 10Z"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                ></path>
              </svg>
            </span>

            <input
              type="text"
              class="w-full py-2 pl-10 pr-4 text-gray-700 bg-white border rounded-md dark:bg-gray-800 dark:text-gray-300 dark:border-gray-600 focus:border-blue-400 dark:focus:border-blue-300 focus:outline-none focus:ring focus:ring-opacity-40 focus:ring-blue-300"
              placeholder="Search"
            />
          </div>
        </div>
      </div>
    </div>

    <!-- <div
        class="text-center py-3 mt-3 -mx-3 overflow-y-auto whitespace-nowrap scroll-hidden"
      >
        <a
          class="p-2 mx-2 text-sm leading-5 text-gray-700 transition-colors duration-300 transform dark:text-gray-200 dark:hover:text-blue-400 hover:bg-gray-200 active:bg-gray-400 md:my-0"
          href="#"
          >Budget
        </a>
        <a
          class="p-2 mx-2 text-sm leading-5 text-gray-700 transition-colors duration-300 transform dark:text-gray-200 dark:hover:text-blue-400 hover:bg-gray-200 active:bg-gray-400 md:my-0"
          href="#"
          >Portfolio
        </a>
        <a
          class="p-2 mx-2 text-sm leading-5 text-gray-700 transition-colors duration-300 transform dark:text-gray-200 dark:hover:text-blue-400 hover:bg-gray-200 active:bg-gray-400 md:my-0"
          href="#"
          >Debt
        </a>
        <a
          class="p-2 mx-2 text-sm leading-5 text-gray-700 transition-colors duration-300 transform dark:text-gray-200 dark:hover:text-blue-400 hover:bg-gray-200 active:bg-gray-400 md:my-0"
          href="#"
          >Goals
        </a>
        <a
          class="p-2 mx-2 text-sm leading-5 text-gray-700 transition-colors duration-300 transform dark:text-gray-200 dark:hover:text-blue-400 hover:bg-gray-200 active:bg-gray-400 md:my-0"
          href="#"
          >Transactions
        </a>
      </div> -->
  </div>
</nav>
