<div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-6 ml-16 mb-5">
  <div
    class="max-w-xs overflow-hidden hover:shadow-2xl hover:shadow-gray-400 bg-gray-300 rounded-lg shadow-lg dark:bg-gray-800 mt-10"
  >
    <div class="h-full flex flex-col">
      <!-- Product Info -->
      <div class="flex-grow p-4">
        <h1 class="font-bold text-white uppercase dark:text-white">Demo</h1>
      </div>

      <!-- Product Image with fixed height -->
      <div class="relative w-full h-48 overflow-hidden">
        <img
          class="bg-cover w-auto h-auto"
          [src]="'https://merakiui.com/images/components/Catalogue-pana.svg'"
          alt="Product image"
        />
      </div>

      <!-- Product Price and Buttons -->
      <div class="flex items-center justify-between px-4 py-2 bg-gray-300">
        <h1 class="text-lg font-bold text-white">$500</h1>
        <a
          class="px-2 py-1 text-xs font-semibold text-gray-900 uppercase transition-colors duration-300 transform bg-white rounded hover:bg-gray-200 focus:bg-gray-400 focus:outline-none"
        >
          View
        </a>
        <button
          class="px-2 py-1 text-xs font-semibold text-gray-900 uppercase transition-colors duration-300 transform bg-white rounded hover:bg-gray-200 focus:bg-gray-400 focus:outline-none"
        >
          Add to cart
        </button>
      </div>
    </div>
  </div>
  <div
    class="max-w-xs overflow-hidden bg-blue-500 rounded-lg shadow-lg dark:bg-gray-800 mt-10"
  >
    <div class="h-full flex flex-col">
      <!-- Product Info -->
      <div class="flex-grow p-4">
        <h1 class="font-bold text-white uppercase dark:text-white">Demo</h1>
      </div>

      <!-- Product Image with fixed height -->
      <div class="relative w-full h-48 overflow-hidden">
        <img
          class="bg-cover w-auto h-auto"
          [src]="'https://merakiui.com/images/components/Catalogue-pana.svg'"
          alt="Product image"
        />
      </div>

      <!-- Product Price and Buttons -->
      <div class="flex items-center justify-between px-4 py-2 bg-blue-500">
        <h1 class="text-lg font-bold text-white">$500</h1>
        <a
          class="px-2 py-1 text-xs font-semibold text-gray-900 uppercase transition-colors duration-300 transform bg-white rounded hover:bg-gray-200 focus:bg-gray-400 focus:outline-none"
        >
          View
        </a>
        <button
          class="px-2 py-1 text-xs font-semibold text-gray-900 uppercase transition-colors duration-300 transform bg-white rounded hover:bg-gray-200 focus:bg-gray-400 focus:outline-none"
        >
          Add to cart
        </button>
      </div>
    </div>
  </div>
  <div
    class="max-w-xs overflow-hidden bg-blue-500 rounded-lg shadow-lg dark:bg-gray-800 mt-10"
  >
    <div class="h-full flex flex-col">
      <!-- Product Info -->
      <div class="flex-grow p-4">
        <h1 class="font-bold text-white uppercase dark:text-white">Demo</h1>
      </div>

      <!-- Product Image with fixed height -->
      <div class="relative w-full h-48 overflow-hidden">
        <img
          class="bg-cover w-auto h-auto"
          [src]="'https://merakiui.com/images/components/Catalogue-pana.svg'"
          alt="Product image"
        />
      </div>

      <!-- Product Price and Buttons -->
      <div class="flex items-center justify-between px-4 py-2 bg-blue-500">
        <h1 class="text-lg font-bold text-white">$500</h1>
        <a
          class="px-2 py-1 text-xs font-semibold text-gray-900 uppercase transition-colors duration-300 transform bg-white rounded hover:bg-gray-200 focus:bg-gray-400 focus:outline-none"
        >
          View
        </a>
        <button
          class="px-2 py-1 text-xs font-semibold text-gray-900 uppercase transition-colors duration-300 transform bg-white rounded hover:bg-gray-200 focus:bg-gray-400 focus:outline-none"
        >
          Add to cart
        </button>
      </div>
    </div>
  </div>
</div>
