<header class="bg-white dark:bg-gray-900 pt-20">
  <div class="container px-6 py-16 mx-auto">
    <div class="items-center lg:flex">
      <div class="w-full lg:w-1/2">
        <div class="lg:max-w-lg">
          <h1
            class="text-3xl font-semibold text-gray-800 dark:text-white lg:text-4xl"
          >
            Best place to choose <br />
            your <span class="text-blue-600">Products</span>
          </h1>

          <p class="mt-3 text-gray-600 dark:text-gray-400">
            Welcome to our shop, where quality meets convenience! We offer a
            wide range of products tailored to suit all your needs. Whether
            you're looking for the latest fashion, tech gadgets, or home
            essentials, you'll find it here. Our friendly staff is committed to
            providing an exceptional shopping experience, ensuring that every
            visit is a pleasant one. Shop with confidence, knowing that we offer
            competitive prices and outstanding customer service. Come visit us
            today and discover something special!
          </p>

          <button
            class="w-full px-5 py-2 mt-6 text-sm tracking-wider text-white uppercase transition-colors duration-300 transform bg-blue-600 rounded-lg lg:w-auto hover:bg-blue-700 focus:outline-none focus:bg-blue-800"
          >
            Shop Now
          </button>
        </div>
      </div>

      <div
        class="flex items-center justify-center w-full mt-6 lg:mt-0 lg:w-1/2"
      >
        <img
          class="w-full h-full lg:max-w-3xl"
          src="https://merakiui.com/images/components/Catalogue-pana.svg"
          alt="Catalogue-pana.svg"
        />
      </div>
    </div>
    <h1
      class="flex justify-center text-blue-600 flex-wrap text-4xl mt-20 font-semibold"
    >
      Our Products
    </h1>
  </div>
  <div class="grid">
    <app-products />
  </div>
  <app-track />
  <app-testimonials />
</header>
