<section class="bg-white dark:bg-gray-900 mt-8 mb-12">
  <div class="relative flex">
    <div class="min-h-screen lg:w-1/3"></div>
    <div
      class="hidden w-3/4 min-h-screen bg-gray-100 dark:bg-gray-800 lg:block"
    ></div>

    <div
      class="container flex flex-col justify-center w-full min-h-screen px-6 py-10 mx-auto lg:absolute lg:inset-x-0"
    >
      <h1
        class="text-2xl font-semibold text-gray-800 capitalize lg:text-3xl dark:text-white"
      >
        What our <span class="text-blue-500">customers</span> <br />
        are saying
      </h1>

      <div class="mt-10 lg:mt-20 lg:flex lg:items-center">
        <img
          class="object-cover object-center w-full lg:w-[32rem] rounded-lg h-96"
          src="https://images.unsplash.com/photo-1535713875002-d1d0cf377fde?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=880&q=80"
          alt=""
        />

        <div class="mt-8 lg:px-10 lg:mt-0">
          <h1
            class="text-2xl font-semibold text-gray-800 dark:text-white lg:w-72"
          >
            Help us improve our productivity
          </h1>

          <p class="max-w-lg mt-6 text-gray-500 dark:text-gray-400">
            “At AttyCart, we are constantly working towards enhancing our
            productivity and delivering top-tier results. We believe in a
            relentless pursuit of excellence, fostering innovation, and tackling
            challenges head-on. Our team strives to create a seamless and
            efficient workflow, ensuring that we exceed our clients'
            expectations and provide exceptional value in everything we do.”
          </p>

          <h3 class="mt-6 text-lg font-medium text-blue-500">Ronik Ederson</h3>
          <p class="text-gray-600 dark:text-gray-300">
            Marketing Manager at AttyCart
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
